
.blogContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.work{
    font-size: 2rem;
    margin: 4rem 0;
}
.blog{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 1rem;
    width: 25%;
}
.blog{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 1rem;
        a{ 
          img{
            width: 30%;
    }
    }
    }
   
.bloga{
    margin: 1rem;
}    

